@import "suus-design-tokens/tokens.css";

/* Hier können zusätzliche globale Styles für die Component Library hinzugefügt werden */

:root {
    font-family: var(--typeface-font-family-body), sans-serif;
}

html,
body {
    font-family: var(--typeface-font-family-sans-serif), sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font: inherit;
}

/* ---------------------------------------------- */
/* Input Elements                                 */
/* ---------------------------------------------- */
.inputBlockVertical {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start; /* Elemente links ausrichten */
    text-align: left;
}

.inputBlockHorizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.inputLabel {
    font-family: var(--typeface-font-family-sans-serif), sans-serif;
    font-weight: var(--typeface-font-weight-regular-400);
    font-size: var(--typeface-font-size-default-20)/var(--typeface-line-height-large-150);
    color: var(--form-input-default-text-label);
}

.inputLabelGlassy {
    font-family: var(--typeface-font-family-sans-serif), sans-serif;
    font-weight: var(--typeface-font-weight-regular-400);
    font-size: var(--typeface-font-size-default-20)/var(--typeface-line-height-large-150);
    color: var(--form-input-glassy-text-label);
}
